@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap');

:root {
    --color-primary: #90B4CB;
    --color-secondary: #90b4cb33;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

@import "navbar.css";

.photograf {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 10px;
    right: 10px;
}

button, input, a {
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

main {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;

    }
    section {
        &[name="hero"] { 
            position: relative;
            background-image: url("assets/hero.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-height: 600px;
            height: 600vh;
            max-width: 1500px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin: 0 auto;

            img {
                max-width: 300px;
                filter: invert(100%) sepia(16%) saturate(202%) hue-rotate(272deg) brightness(114%) contrast(100%);
            }

            h1 {
                font-size: 3rem;
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                color: #fff;
            }

            h2 {
                font-size: 1.5rem;
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
                color: #fff;
            }

            .btn-primary {
                margin-top: 20px;
                text-decoration: none;
            }

            // media query for ipad
            @media (max-width: 1024px) {
                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1rem;
                }
            }
        }

        &[name="about"] {
            .about-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                background-color: var(--color-primary);
                border-radius: 15px;
                padding: 30px;
                margin: 50px 0;
                width: 900px;
                margin: 50px auto;

                @media (min-width: 768px) {
                    flex-direction: row;
                }

                // media query for mobile
                @media (max-width: 768px) {
                    border-radius: 0;
                    margin: 0;
                    width: 100%;
                }

                .about-text {
                    width: 60%;
                    max-width: 400px;
                    color: #fff;

                    // media query for mobile
                    @media (max-width: 768px) {
                        width: 100%;
                        max-width: 100%;
                    }

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        display: block;
                        margin: 20px 0;
                    }


                    .btns {
                        margin-top: 15px;
                        display: flex;
                        gap: 20px;
                        // media query for mobile
                        @media (max-width: 768px) {
                            margin-top: 40px;

                            a {
                                font-size: 0.9rem;
                            }
                        }

                        // media query for iphone 11
                        @media (max-width: 414px) {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .btn-white {
                        background-color: #fff;
                        color: var(--color-primary);
                        padding: 10px 10px;
                        border-radius: 10px;
                        font-size: 20px;
                        font-weight: 700;
                        border: none;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                    }

                    .btn-secondary {
                        background-color: var(--color-secondary);
                        color: #fff;
                        padding: 10px 10px;
                        border-radius: 10px;
                        font-size: 20px;
                        font-weight: 700;
                        border: none;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                    }
                }

                .about-images {
                    position: relative;
                    width: 40%;
                    margin-right: 30px;
                    margin-top: 10px;

                    img {
                        top: 0;
                        right: 0;
                        border-radius: 15px;
                        height: 250px;
                        width: 250px;
                        position: absolute;

                        &:nth-child(1) {
                            transform: rotate(5deg);
                        }

                        &:nth-child(2) {
                            transform: rotate(-5deg);
                        }
                    }

                    @media (max-width: 768px) {
                        display: none;
                    }
                }
    
                // media query for ipad 1024
                @media (max-width: 1024px) {
                    max-width: 100vw;
                    border-radius: 0;
                    padding: 50px;

                    .about-text {
                        font-size: 0.9rem;

                        span {
                            display: block;
                            margin: 10px 0;
                        }
                    }

                    .about-images {
                        img {
                            top: 10px;
                            width: 200px;
                            height: 200px;
                        }
                    }

                    .btns {
                        margin-top: 20px;

                        a {
                            font-size: 0.9rem; 
                            width: fit-content;
                        }
                    }
                }
            }
        }

        &[name="sponsoren"] {
            .sponsoren-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--color-secondary);
                max-height: 200px;
                padding: 20px;

                h2 {
                    color: var(--color-primary);
                    font-size: 1.3rem;
                }

                .sponsoren-images {
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 20px;
                    max-width: 100vw;
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding: 10px 20px;

                    img {
                        aspect-ratio: 3/2;
                        width: 180px;
                        object-fit: scale-down;
                    }
                }
            }

            // media query for mobile
            @media (max-width: 768px) {
                .sponsoren-wrapper {
                    max-height: 100vw;
                    padding: 20px 0;

                    h2 {
                        font-size: 1rem;
                    }

                    // make sponsoren-images a horizontal scroll
                    .sponsoren-images {
                        overflow-x: auto;
                        overflow-y: hidden;
                        padding: 20px 0;
                        flex-wrap: nowrap;
                        width: 100%;
                    }
                }
            }
        }

        &[name="event-ablauf"] {
            margin: 50px 0;

            h1.heading {
                text-align: center;
                margin-bottom: 50px;
            }

            .ablauf {
                width: 60%;

                img.timeline {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .event {
                margin-bottom: 50px;
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items:flex-start;
                height: 100%;

                .event-mobile {
                    display: none;
                }

                // media query for mobile
                @media (max-width: 768px) {
                    align-items: center;
                }

                .event-bild {
                    width: 40%;
                    max-height: 650px;
                    height: 650px;
                    position: relative;
                    background-image: url("../public/assets/ventbild.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 15px;

                    .overlay {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        img {
                            width: 200px;
                            height: 70px;
                            object-fit: contain;
                            margin-bottom: 15px;
                            filter: brightness(0) invert(1);
                        }
                    }
                }

            }
            
            .end-call {
                text-align: center;
                margin-top: 50px;
            }

            // media query for ipad
            @media (max-width: 1024px) {
                .event {
                    gap: 20px;
                    padding: 0 40px;

                    .event-bild {
                        img {
                            max-width: 30vw;
                            max-height: 750px;
                        }

                        .overlay {
                            img {
                                width: 150px;
                                height: 50px;
                            }

                            a {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }

            // media query for mobile
            @media (max-width: 876px) {
                .event {
                    flex-direction: column;
                    align-items: center;
                    padding: 0 20px;
                    height: fit-content;

                    .ablauf {
                        width: 100%;
                    }

                    .event-bild {
                        display: none;
                    }
                }
            }

        }
    }
}

footer {
    background-color: var(--color-primary);
    padding: 30px 100px;

    .container {
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .left-side {
        width: fit-content;

        .logo img {
            width: 200px;
            height: 70px;
            object-fit: contain;
        }

        .privacy-policy {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            a {
                color: #000;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .right-side {
        width: fit-content;

        .email {
            text-align: right;
        }
        a {
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin-top: 20px;
            text-align: right;
        }
    }

    // media query for ipad
    @media (max-width: 1024px) {
        padding: 20px 40px;

        .left-side {
            margin-bottom: 10px;

            .logo img {
                width: 150px;
                height: 50px;
            }
        }

        .right-side {
            .email {
                * {
                    font-size: 1rem;
                }
            }
        }
    }

    // media query for mobile
    @media (max-width: 768px) {
        padding: 20px 20px;
        
        .container {
            flex-direction: column;
        }

        .left-side {
            margin-bottom: 10px;

            .logo img {
                width: 200px;
                height: 70px;
            }
        }

        .right-side {
            
            .email {
                text-align: left;
                * {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

section[name="wer-wir-sind"] {
    .wer-wir-sind-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 50px;

        p {
            margin-top: 10px;
            text-align: block;
            line-height: 25px;
            font-size: 18px;
            text-align: justify;
        }

        .vorstellungs-bilder {
            position: relative;
            margin: 50px 0;
            display: flex;
            gap: 50px;

            img {
                height: 100%;
                max-height: 350px;
                width: 100%;
                max-width: 350px;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .heumoederntrails {
            margin: 50px 0;
            display: flex;
            gap: 75px;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                max-height: 400px;
                width: 100%;
                max-width: 400px;
                object-fit: cover;
                border-radius: 50%; 
            }
        }
    }
}

section[name="datenschutz"] {
    .container {
        padding: 20px 50px;

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin-top: 10px;
            text-align: block;
            line-height: 25px;
            font-size: 18px;
            text-align: justify;
        }
    }
}

.josecarreras {
    width: 75vw;
    max-width: 500px;
    height: 100%;
    margin: 0 0 20px;
}

// media query for mobile
@media (max-width: 768px) {

    main section[name="hero"] {
        background-position: 75% 0;
    }

    main section[name="event-ablauf"] h1.heading {
        margin-bottom: 20px;
    }

    main section[name="event-ablauf"] .event {
        margin: 20px 0 30px;
    }

    main section[name=about] .about-wrapper .about-text .btns {
        margin-top: 20px;
    }

    main section[name=about] .about-wrapper .about-text span {
        font-size: 1rem;
    }

    .end-call {
        margin: 20px 0 !important;
    }

    p {
        font-size: 0.8rem !important;
        text-align: justify;
    }

    main section[name=event-ablauf] {
        margin: 20px 0;

        .container {
            padding: 0 20px;
        }
    }

    main section[name=about] .about-wrapper {
        padding: 20px;
    }

    h1 {
        font-size: 1.2rem;
    }

    main section[name=hero] h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    section[name="wer-wir-sind"] {
        .container.wir {
            padding: 0;
        }

        .wer-wir-sind-wrapper {
            padding: 0;
            position: relative;
            justify-content: start;
            align-items: left;
            margin-top: 0;
            
            p.subtitle {
                display: none;
            }

            h1 {
                display: none;
                position: absolute;
                top: 16%;
                left: 30%;
                z-index: 100;
                color: #fff;
            }
            
            .vorstellungs-bilder {
                margin-top: 0;
                margin-bottom: 20px;
                flex-wrap: wrap;
                gap: 0;
                max-width: none;
                
                img {
                    border-radius: 0;
                    width: 50vw;
                    aspect-ratio: 1/1;
                    max-height: 50vh;
                    object-fit: cover;
                    max-width: none;
                }
            }

            .infotext {
                padding: 0 25px;
                margin-top: 0;
            }

            .heumoederntrails {
                padding: 25px;
                margin: 0;
                flex-wrap: wrap;
                gap: 20px;
                margin-top: 75px;
            }
        }
    }
}

@media (max-width: 1024px) {
    main section[name="event-ablauf"] .event .event-bild {
        max-height: 500px;
        background-position: 0 -75px;
    }
}

// media query for 400px
@media (max-width: 400px) {
    main section[name="event-ablauf"] h1.heading {
        margin-bottom: 20px;
    }

    .vorstellungs-bilder {
        img {
            min-width: 100vw;
        }
    }
}

.mobile-show {
    display: none;
}

@media (max-width: 471px) {
    .mobile-hidden {
        display: none;
    }

    .mobile-show {
        display: block;
    }

    section[name=hero] {
        background-image: url(../public/assets/hero_mobile.jpg) !important;
    }

    section[name="event-ablauf"] {
        .event {
            padding: 0 !important;
        }

        .description {
            h3 {
                font-size: 0.6rem !important;
            }

            p {
                font-size: 0.5rem !important;
            }
        }

        .time {
            font-size: 0.5rem !important;
        }
    }

    main section[name="about"] .about-wrapper .about-text .btns {
        display: flex;
        flex-direction: row;
    }

    *[class*='btn'] {
        font-size: 0.7rem !important;
    }
}

// media query for 876px
@media (max-width: 876px) {
    .event-bild {
        display: none;
    }

    .event-mobile {
        margin-top: 20px;
        display: block !important;

        a {
            font-size: 0.9rem;
        }
    }

    .heumoederntrails {
        img {
            max-width: 200px !important;
        }
    }

    footer .right-side p {
        text-align: left;
    }
}